html {
  /* フォントサイズの計算に1rem=10pxを使いたいのでhtmlに62.5%を指定 */
  font-size: 62.5%;
}

body {
  /* どんなにブラウザ幅が狭くなっても最低1,000pxのコンテンツの幅を確保する */
  min-width: 1000px;
  font-family: '游明朝体', YuMincho, '游明朝 Medium', 'Yu Mincho Medium', '游明朝', 'Yu Mincho', serif;
  line-height: 1.75;
  color: #707070;
}

/* ボールド書体についてはEdgeに対応するため別途指定する */
strong, b, mark, b, .typo-bold {
  font-family: '游明朝体', YuMincho, '游明朝', 'Yu Mincho', '游明朝', 'Yu Mincho', serif;
  font-weight: 700;
}

/* デフォルトのボールド指定を解除 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  /* 指定しておかないと画像の下に微妙な隙間ができてしまうことがある */
  vertical-align: bottom;
}